name: 'SockBoom Checkin Action'

on: 
  # push:
  #   branches:
  #     - main
  schedule:
    - cron: '0 23 * * *'

jobs:
  checking:
    runs-on: ubuntu-latest
    steps:
    - name: Setup timezone
      uses: zcong1993/setup-timezone@master
      with:
        timezone: Asia/Shanghai
    - name: Get log
      uses: actions/checkout@master
    - name: Ckeck in
      run: |
        echo -n `date +%Y-%m-%d\ %H:%M:%S`\ -\ >> ./run.log
        response=$(curl -X GET 'https://api.sockboom.click/client/checkin?token=${{  secrets.SOCKBOOM_TOKEN }}')
        checkin_success=$(echo $response | jq -r '.success')
        traffic_bit=$(echo $response | jq -r '.traffic')
        echo $traffic_bit
        conversion_factor="8388608"
        traffic="0"
        if [ "$checkin_success" == "1" ]; then
          traffic=$(echo "scale=2; $traffic_bit / $conversion_factor" | bc)
        fi
        # traffic=$traffic_bit * $conversion_factor
        echo $traffic
        # traffic=$(echo "scale=2; $traffic_bit \* $conversion_factor" | bc)
        echo "Get $traffic MB" >> ./run.log
        tail run.log #避免日志上传失败丢失日志
        echo "TRAFFIC"=$traffic >> "$GITHUB_ENV"
      env:
          SOCKBOOM_TOKEN: ${{ secrets.SOCKBOOM_TOKEN }}
    - name: Commit #上传日志到仓库，可以自行修改 name 和 email
      env:
       NAME: sockboom-action
       EMAIL: sockboom-action@love98ooo.github.io
      run: |
        git config --global user.name "$NAME"
        git config --global user.email "$EMAIL"
        git add .
        git commit -m "Get ${{  env.TRAFFIC  }} MB" -a
    - name: Push log
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.TOKEN }}
